@import "tailwindcss";
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap);
@plugin "@tailwindcss/typography";

@theme {
  --bg-dark-gradient: linear-gradient(to bottom right, #0f172a, #020617);
  --font-roboto-mono: "Roboto Mono", monospace;
}

html, body {
  @apply w-full m-0 p-0 overscroll-none;
}

html {
  background: var(--bg-dark-gradient);
}

body {
  @apply bg-transparent;
}

html, body {
    min-height: 100%;
  }
  
  app-root {
    display: flex;
    flex-direction: column;
  }

/* hide page scrollbar */
html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */
/* end hide page scrollbar */